# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# /build/getdata.js
# /build/ma.js
/pd-server
/.pnp

.pnp.js
# tool
tool/
pd-tool/
tool/node_modules
# testing
/coverage
# production
# /build
/build
/public/img/support_card

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/extract_card_assets.py
src/styles/tailwind.css

#next 
.next

yarn.lock