---
import Layout from "@/layouts/Layout.astro";
import Page from "../cra-project/pages/player";
---

<Layout>
  <div class="container mx-auto flex-auto">
    <Page client:only="react" />
  </div>
</Layout>
