.ant-btn {
    margin-right: 8px;
    margin-bottom: 8px;
}

.list-row p{
    padding-left:8px;
}
.list-row:nth-child(odd) p{
        background-color: #cccccc;
    }
.list-row:nth-child(even) p{
        background-color:#99cccc;
    }
/* .nurturing-box{
  display:grid;
  width:100%;
  height:100%
} */
.skill-button{
  margin-right:4px;
  margin-bottom:4px;
}
.skill-button span{
  vertical-align: super;
}
.skill-button-レア{
  background-color: #eccc68;
}
.skill-button-固有{
  background-color: #9b59b6;
}

.race-row-0 {
  background-color: #CCCCCC;
}
.race-row-1 {
  background-color: #99CCCC;
}
.race-row-2 {
  background-color: #99CCCC;
}
.race-row-3 {
  background-color: #CCCCCC;
}
.race-name p{
  font-size:20px
}
.race-detail p{
  margin:0;
  font-size:1em;
  color:black
}
.ant-divider-horizontal.ant-divider-with-text{
  margin:4px 0;
}
.ant-divider-horizontal{
  margin:12px 0;
}
.seed-form{
  background-color:#CCCCCC;
}
.rate-label{
  font-size: 20px;
  margin-right: 5px;
}
.ant-card-body{
  padding:8px
}
.chosen-card{

}
.un-chosen-card img{
  opacity:0.3
}


.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
}
.am-list-item-middle:active{
  background-color: #99cccc;
}
