.ant-btn {
    margin-right: 8px;
    margin-bottom: 8px;
}

.list-row p{
    padding-left:8px;
}
.list-row:nth-child(odd) p{
        background-color: aqua;
    }
.list-row:nth-child(even) p{
        background-color:aquamarine;
    }
/* .nurturing-box{
  display:grid;
  width:100%;
  height:100%
} */
.skill-button{
  margin-right:4px;
  margin-bottom:4px;
}
.skill-button span{
  vertical-align: super;
}
.skill-button-レア{
  border-color: yellow;
}
.skill-button-固有{
  border-color: purple;
}

.race-row p{
  margin:0;
  font-size:8px;
}

.race-col-0 p{
  background-color:#70f3ff;
}
.race-col-1 p{
  background-color: #44cef6;
}
.race-col-2 p{
  background-color: #3eede7;
}
.race-col-3 p{
  background-color: #1685a9;
}
