.ant-btn {
    margin-right: 8px;
    margin-bottom: 8px;
}

.list-row p{
    padding-left:8px;
}
.list-row:nth-child(odd) p{
        background-color: #cccccc;
    }
.list-row:nth-child(even) p{
        background-color:#99cccc;
    }
/* .nurturing-box{
  display:grid;
  width:100%;
  height:100%
} */
.skill-button{
  border-radius:20px;
  height:36px;
  padding:3px 10px;
  font-size:16px;
  border:2px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(2555,255,255,0.8);
}
.event-button{
  border:2px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(2555,255,255,0.8);
}

.skill-button span{
  vertical-align: super;
}

.skill-button-2{
  background-color: rgba(236, 204, 104,0.8);
}
.skill-button-3{
  background-color: rgba(155, 89, 182,0.8);
}

.race-row-0 {
  background-color: #CCCCCC;
}
.race-row-1 {
  background-color: #99CCCC;
}
.race-row-2 {
  background-color: #99CCCC;
}
.race-row-3 {
  background-color: #CCCCCC;
}
.race-name p{
  font-size:20px
}
.race-detail p{
  margin:0;
  font-size:1em;
  color:black
}
.ant-divider-with-text{
  margin:4px 0;
}

.ant-divider-horizontal{
  margin:12px 0;
}
.seed-form{
  background-color:#CCCCCC;
}
.rate-label{
  font-size: 20px;
  margin-right: 5px;
}
.ant-card-body{
  padding:8px
}
.chosen-card{

}
.un-chosen-card img{
  opacity:0.3
}


.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
}
.am-list-item-middle{
  background-color: #99cccc;
}

.support-card{
  background-color: rgba(241, 242, 246,0.7);
}