---
import "@/styles/global.css";
import { cn } from "@/lib/utils";
import NavMenu from "@/components/NavMenu";
---

<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>赛马娘</title>
  </head>
  <body class="flex flex-col w-screen min-h-screen relative">
    <NavMenu client:only="react" />
    <slot />
  </body>
</html>
