---
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";
import { SiteHeader } from "@/components/SiteHeader";
import { SiteFooter } from "@/components/SiteFooter";

const { title } = Astro.props;
---

<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>{title ?? "赛马娘"}</title>
    <ClientRouter />
  </head>
  <body class="min-h-svh bg-background font-sans antialiased">
    <div vaul-drawer-wrapper="">
      <div class="relative flex min-h-svh flex-col bg-background">
        <div data-wrapper="" class="border-grid flex flex-1 flex-col">
          <SiteHeader client:only="react" />
          <main class="flex flex-1 flex-col">
            <slot />
          </main>
          <SiteFooter client:only="react" />
        </div>
      </div>
    </div>
  </body>
</html>
